/**
 * line_category_main
 */
.line_category_main {
	margin: 0 0 0 5px; /* left gap */
	padding: 0;
}
.line_category_main a {
	display: inline-block;
	margin-top: 2px;
	margin-right: 2px; /* ← Clearance */
	padding: 3px 5px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background: #6699cc;
}
.line_category_main a:hover {
	background: #161525;
}
.line_category_main a:focus {
	color: #54d4f4;
}
/**
 *
 */

/**
 * line_category_subbox
 */
.line_category_subbox {
	margin: 10px 0 0 5px; /* top gap & left gap */
}

/**
 * line_category_breadcrumbs
 */
.line_category_breadcrumbs {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.line_category_breadcrumbs a {
	font-weight: bold; 
	text-decoration: none;
	color: #0050af;
	outline: none;
}
.line_category_breadcrumbs a:hover {
	color: #0050ff;
}

/**
 * line_category_sub
 */
.line_category_sub {
	margin: 0 0 0 5px;
	padding: 0;
}
.line_category_sub a {
	display: inline-block;
	margin-top: 2px;
	margin-right: 2px; /* ← Clearance */
	padding: 3px 5px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background: #6699cc;
}
.line_category_sub a:hover {
	background: #161525;
}
.line_category_sub a:focus {
	color: #54d4f4;
}